@media (max-width: 1025px){
    .searchFld{
        width: 80%;
    }
}

@media (max-width: 670px){
    .searchFld{
        width: 90%;
    }
    #face{
        height: 100%;
    }
    header{
        background-color: white;
    }
    footer{
        position: static;
    }
    .clear{
        clear:both;
    }
    .footRight{
        float: left;
    }
}