* {
    box-sizing: border-box;
}
html, body{
    height:100%;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* HEADER START */
header{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 30px;
}
header a{
    color: #222;
    text-decoration: none;
    font-size: smaller;
    margin: 7px 5px;
    padding: 7px 6px;
}
header a:hover{
    text-decoration: underline;
}
.loginBtn{
    border: 1px solid #4285F4;
    border-radius: 3px;
    padding: 7px 12px;
    margin-right: 0;
    color: white;
    background-color: #4285F4;
}
.loginBtn:hover{
    cursor: default;
    border: 1px solid #0b54ca;
    text-decoration: none;
}
/* HEADER STOP */
/* FACE START */
#face{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#faceWrapper{
    text-align: center;
}
.searchFld{
    width:40%;
    border: 1px solid #ececec;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 10px;
}
.searchFld:hover, .searchFld:focus{
    cursor: text;
    box-shadow: 0 0 10px lightgray;
}
.searchBtn{
    margin: 10px 2.5px;
    font-size: smaller;
    background-color: #ececec;
    border: 1px solid #ececec;
    padding: 10px 15px;
}
.searchBtn:hover, .searchBtn:focus{
    border: 1px solid lightgray;
    cursor: pointer;
}
/* FACE END */
/* FOOTER START */
footer{
    font-size: smaller;
    border-top: 1px solid #ececec;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1px 30px;
    color: #5f6368;;
}
footer a{
    color: #5f6368;;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
.footLeft{
    float:left;
}
.footRight{
    float:right;
}
/* FOOTER END */