@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
  	-webkit-box-sizing: inherit;
  	-moz-box-sizing: inherit;
  	box-sizing: inherit;
}

html, body{
	height: 100%;
}

input{
	-webkit-appearance: none;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

p{
	margin: 0; padding: 0;
}

/* Middle */

.wrap{
	text-align: center;
	position: relative;
}

.vcenter{
	top: 35%;
}

.logo{
	margin-bottom: 20px;
}

.sbox{
	width: 35%;
	height: 2em;
	border: 1px solid #EFEBE9;
	padding: 0 0.5em;
	/*box-shadow: 0 0 2px;*/
}

.sbox:hover, .sbox:focus{
	box-shadow: 0 0 5px #EFEBE9;
}

.buttons{
	background-color: #F5F5F5;
	border: 0.1px solid rgba(0, 0, 0, 0);
	padding: 9px 14px;
	font-family: 'Source Sans Pro', sans-serif;
}

.buttons:hover{
	background-color: #FAFAFA;
	border: 0.1px solid #EFEBE9;
}

/* Navbar */

.navbar{
	position: fixed;
	display: inline-block;
	width: 100%;
	border: 0.1px solid rgba(0, 0, 0, 0);
	padding: 0.8%;
	text-align: right;
	font-family: 'Source Sans Pro', sans-serif;
}

.navform{
	display: inline-block;
	margin: 0 10px;
}

.navbar > .navform > ul{
	list-style-type: none;
	margin: 0; padding: 0;
}

.navbar > .navform > ul > li{
	display: inline;
	padding: 0  5px;
}

.sibuttons{
	background-color: #E53935;
	color: white;
	border: 0.1px solid rgba(0, 0, 0, 0);
	border-radius: 5%;
	padding: 9px 14px;
	font-family: 'Source Sans Pro', sans-serif;
}

.sibuttons:hover{
	background-color: #EF5350;
	border: 0.1px solid rgba(0, 0, 0, 0);
	border-radius: 5%;
}

/* Footer */

.footer{
    position: fixed;
    bottom: 0px;
    height: 6%;
    width: 100%;
    background-color: #E4E4E4;
    color: rgba(0,0,0,.54);
    font-family: 'Source Sans Pro', sans-serif;
}

.aleft{
    float: left;
}

.aright{
    float: right;
}

.footform{
    display: inline-block;
}

.footer a{
	color: rgba(0,0,0,.54);;
}

.footer > .footform > ul{
	margin: 11px 5%; padding: 0;
}

.footer > .footform > ul > li{
    display: inline;
    padding: 0  5px;
}